.h1-1 {
	text-align: center;
	border: 10px solid cyan;
	color: white;
}

.img {
	height: 100px;
	width: 200px;
	border: 10px solid cyan;
	background: white;
}

.img-1 {
	height: 100px;
	width: 100px;
	border: 10px solid cyan;
	background: white;
}

.body {
	height: 100%;
	width: 100%;
	background-image: url(./Images/8.gif);
  background-repeat: no-repeat;
	background-size: 100%;
	background-size: 100%;
}

.img3 {
	width: 200px;
	height: 200px;
}
